<footer class="bg-gray-800 text-white py-4">
  <div class="container mx-auto text-center">
    <p>&copy; 2025 WeatherApp. All rights reserved. App made by Cîndea Alecsandru Benedict, Mateiu Emil, Maria Antonia Marc</p>
  </div>
</footer>
